@{
    ViewData["Title"] = "Produtos";
}

<div class="container mt-5">
    <div class="row">
        <!-- Produto 1 -->
        <div class="col-md-4 produto">
            <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Produto 1">
                <div class="card-body">
                    <h5 class="card-title">Produto 1</h5>
                    <p class="card-text">Descrição breve do produto 1.</p>
                    <p><strong>R$ 50,00</strong></p>
                    <button class="btn btn-primary" onclick="adicionarCarrinho('Produto 1', 50)">Adicionar ao Carrinho</button>
                </div>
            </div>
        </div>

        <!-- Produto 2 -->
        <div class="col-md-4 produto">
            <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Produto 2">
                <div class="card-body">
                    <h5 class="card-title">Produto 2</h5>
                    <p class="card-text">Descrição breve do produto 2.</p>
                    <p><strong>R$ 100,00</strong></p>
                    <button class="btn btn-primary" onclick="adicionarCarrinho('Produto 2', 100)">Adicionar ao Carrinho</button>
                </div>
            </div>
        </div>

        <!-- Produto 3 -->
        <div class="col-md-4 produto">
            <div class="card">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Produto 3">
                <div class="card-body">
                    <h5 class="card-title">Produto 3</h5>
                    <p class="card-text">Descrição breve do produto 3.</p>
                    <p><strong>R$ 150,00</strong></p>
                    <button class="btn btn-primary" onclick="adicionarCarrinho('Produto 3', 150)">Adicionar ao Carrinho</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Carrinho de Compras Modal -->
<div class="modal fade" id="carrinhoModal" tabindex="-1" role="dialog" aria-labelledby="carrinhoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carrinhoModalLabel">Carrinho de Compras</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" onclick="fecharModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="d-flex flex-column list-group list-group-flush" id="itensCarrinho">
                    <li class="list-group-item">Seu carrinho está vazio.</li>
                </ul>
                <p id="totalCarrinho" class="fw-bold m-3"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="fecharModal()">Fechar</button>
                <a type="button" class="btn btn-primary" asp-area="" asp-controller="Checkout" asp-action="Index">Finalizar Compra</a>
            </div>
        </div>
    </div>
</div>

<script src="~/js/carrinho.js" asp-append-version="true"></script>
<script>

    var carrinho = getCarrinho();

    function adicionarCarrinho(produto, preco) {

        const objProduto = carrinho.find((item) => item.produto === produto);

        if (objProduto) {
            objProduto.quantidade++;
        }
        else {
            const newId = carrinho.length +1;
            carrinho.push({ id: newId, produto: produto, preco: preco, quantidade: 1 });
        }

        atualizarCarrinho();
        setCarrinho(carrinho);
    }

    function atualizarCarrinho() {
        var itensCarrinho = document.getElementById("itensCarrinho");
        itensCarrinho.innerHTML = ""; 
        
        if (carrinho.length === 0) {
            itensCarrinho.innerHTML = "<p>Seu carrinho está vazio.</p>";
        } else {
            carrinho.forEach(function(item) {
                var listItem = document.createElement("li");
                listItem.id = "item-carrinho-"+ item.id;
                listItem.className = "d-flex list-group-item";
                itensCarrinho.appendChild(listItem);
                var cardImage = document.createElement("div");
                cardImage.className = "card";
                var image = document.createElement("img");
                image.src = "https://via.placeholder.com/300x200";
                cardImage.appendChild(image);
                listItem.appendChild(cardImage);
                var description = document.createElement("div");
                description.className = "container-fluid justify-content-between d-flex flex-column";
                listItem.appendChild(description);
                var itemCarrinho = document.createElement("div");
                itemCarrinho.className = "d-flex justify-content-between";
                description.appendChild(itemCarrinho);
                var produto = document.createElement("p");
                produto.textContent = item.produto;
                itemCarrinho.appendChild(produto);
                var preco = document.createElement("div");
                preco.className = "fw-bold";
                preco.textContent = "R$ " + item.preco;
                itemCarrinho.appendChild(preco);
                var quantidade = document.createElement("p");
                quantidade.innerHTML = "<div><label for='quantity'>Quantidade</label><input data-id='"+ item.id +"' class='form-control mt-2' type='number' name='quantity' value="+ item.quantidade +" style='width: 80px'/></div>";
                quantidade.addEventListener("change", onChangeQuantity);
                description.appendChild(quantidade);
            });

            totalizaCarrinho();
        }
        
        $('#carrinhoModal').modal('show');
    }

    function onChangeQuantity(e) {
        const itemCarrinho = carrinho.find((item) => item.id == e.target.dataset.id);
        const quantidade = e.target.value;

        if (quantidade == 0) {
            removeItemCarrinho(itemCarrinho);
        }
        else {
            itemCarrinho.quantidade = quantidade;
        }

        totalizaCarrinho();
        setCarrinho(carrinho);
    }

    function removeItemCarrinho(item) {
        var itemCarrinho = document.getElementById("item-carrinho-"+ item.id);
        itemCarrinho.remove();
        
        const idx = carrinho.indexOf(item);
        carrinho.splice(idx, 1);
        setCarrinho(carrinho);
    }

    function totalizaCarrinho() {
        const total = carrinho.reduce((result, item) => result + (item.quantidade * item.preco), 0);

        if (total == 0)
        {
            fecharModal();
            return;
        }

        var totalCarrinho = document.getElementById("totalCarrinho");
        totalCarrinho.textContent = "Total: R$ "+ total;
    }

    function fecharModal() {
        $('#carrinhoModal').modal('hide');
    }
</script>